/* div{
    border: 1px solid red;
} */
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
}

/* Side Panel */
#side-panel{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    position: fixed;
    top: 0;
    background-color: #F8F9FA;
}
#side-panel div{
    display: flex;
    align-items: center;
    color: #49c3db;
    padding: 10px;
}
#side-panel div:hover{
    background-color: #EFF1F3;
    cursor: pointer;
}
#side-panel img{
    width: 30px;
    height: 30px;
    margin-right: 20px;
    margin-left: 20px;
}
#logo{
    height: 70px;
    padding: 20px;
    margin-bottom: 15px;
}
#side-panel #logo:hover{
    background-color: #F8F9FA;
}
#logo > img{
    width: 100%;
    height: 100%;
    text-align: center;
}
#side-panel #user{
    margin-top: auto;
}

/* Main Body */
#main-body{
    display: block;
    width: 80%;
    margin-left: auto;
    padding: 0px 30px;
}

/* Child */
#child{
    display: flex;
    flex-direction: column;
    padding: 30px;
}
#child > div:nth-child(1){
    font-family: sans-serif;
    font-weight: 100;
    font-size: 37.5;
    line-height: 45px;
    color: #212529;
}

/* Top section */
#top-section{
    display: flex;
    justify-content: space-between;
}
#add-project{
    width: 156px;
    height: 36px;
    color: #F7FAFC;
    background-color: #3B8FC2;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
#add-project:hover{
    cursor: pointer;
    background-color: #3279A5;
}
#search{
    margin-top: 20px;
    width: 250px;
    height: 10px;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 5px;
    border: 1px solid #DEE2E6;
    margin-bottom: 30px;
}
#search:focus{
    outline: none;
    border: 1px solid #49c3db;
}
hr{
    color: #DEE2E6;
    margin-bottom: 20px;
}

/* Table */
.table{
    display: flex;
    padding: 0px 10px;
    height: 50px;
    align-items: center;
}
.table > div:nth-child(1){
    width: 305px;
}
.table > div:nth-child(2){
    width: 177.5px;
    margin-right: 30px;
}
.table > div:nth-child(3), .table > div:nth-child(4), .table > div:nth-child(5){
    width: 200px;
    margin-right: 70px;
}
.table > div:nth-child(6){
    width: 140px;
}
.time{
    font-size: 18.75px;
    font-weight: 500;
    line-height: 22px;
    color: #687481;
    font-family: sans-serif;
}

/* Appending data table */
.table-data{
    
    border-radius:5px;
}
.table-data:hover{
    cursor: pointer;
    background-color: #EAF3F9;
}
.details{
    font-size: 13px;
    padding: 0px 10px;
    font-weight: 400;
    line-height: 18px;
    color: #6A6A6A;
}
#data-container{
    display: flex;
    flex-direction: column;
}
#role{
    font-weight: 550;
}
#role::first-letter, #name::first-letter{
    text-transform: capitalize;
}
.rates{
    text-align: center;
}
#action{
    display: flex;
}
.edit,.delete{
    color: #ffff;
    font-weight: 600;
    padding: 6px;
    border-radius: 5px;
    background-color: #69F0AE;
    margin-right: 8px;
}
.edit:hover{
    background-color: #39dd8e;
}
.delete{
    background-color: #FF8A80;
    margin-right: 0px;
}
.delete:hover{
    background-color: #f57165;
}
#no-member{
    color: #687481;
    font-weight: 500;
    text-align: center;
}

@media all and (min-width:320px) and (max-width:900px){
    *{
      margin: 0px;
      padding: 0px;
    }
    #child{
        margin: 0px;
        padding: 5px;
    }
    #side-panel{
        width: 100%;
        height: auto;
        position: relative;
    }
    #logo img{
        display: none;
        width: 0px;
        height: 0px;
    }
    #logo{
        width: 0px;
        height: 0px;
    }
    #main-body{
        width: 100%;
        margin: 20px 0px 0px 0px;
        padding: 0px;
    }
    .time{
        margin: 0px;
        padding: 0px;
    }
    #data-container > div{
        margin: 0px;
        padding: 0px;
    }
}